.container__small-card{
    width: 700px;
    margin-bottom: 15px;

}
.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__photo{
    width: 200px;
    min-width: 200px;
    margin-right: 2px;
}
.small-card__title > h1{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__small-card-separator{
    margin-top: 10px;
}